$font-size: 14px;
$color-white: #ffffff;
$color-1: #fbfbfb;
$button-height: 32px;
$font-color: #90a4ae;
$button-border: 1px solid $font-color;
$button-border-active: 1px solid $font-color;
$font-family: PingFangSC-Regular;


$grey: #ddd;
$border-radius: 4px;


$height: 32px;
$line-height: 32px;
$color-blue: rgb(66, 133, 244);
$color-red: rgb(219, 68, 55);
$color-yellow: rgb(244, 160, 0);
$color-green: rgb(15, 157, 88);

$border-radius: 2px;


$border-color: rgb(235, 237, 240);


$font-color-active: #1890ff;
$font-weight: 500;


$box-shadow: 0 2px 8px rgba(0,0,0,0.15);


$hover-background:#e6f7ff;

$line-grey: #ebedf0;
@keyframes loadingCircle {
  from{
    transform: rotate(0);
  }
  to{
    transform: rotate(360deg);
  }
}
$border: 1px solid #d9d9d9;

$box-shadow: 0 0 3px rgba(0,0,0,0.8);
$backgroud-light: #e6f7ff;

